<!DOCTYPE HTML>
<html>
    <head>
        <title>Reddit Parser</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}" />
    </head>
    <body>
        <div id="content-container">
            <div id="webpage-title">
                <h1>Reddit Parser</h1>
            </div>
            <div id='search'>
                <input type='text' id='user_input'></input>
                <button id='search_button'>Search</button>
            </div>
        </div>
    </body>
</html>